.chaos-display {
  background-color: #222222;
  width: 90%;
  max-width: 600px;
  margin: 0px auto;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.chaos-card {
  background-color: #010b1b;
  border-radius: 8px;
  padding: 50px ;
  border-radius: 10px;
}

.chaos-card h2{
    
}